
/*---------- color Scheme ----------*/
/* 
cadetblue: hsl(182,25%,50%)
  dark: hsl(182,25%,25%)
  light:hsl(182,25%,75%)

  aqua:hsl(180,100%,50%)
  light: hsl(180,100%,75%)
  dark: hsl(180,100%,25%)

  blue: hsl(189,100%,41%)
  light: hsl(189,100%,66%)
  dark:  hsl(189,100%,16%)

  yellow: hsl(50,99%,57%)
  light:  hsl(50,99%,82%)
  dark:   hsl(50,99%,32%)
*/

html {
  font-family: Raleway, sans-serif;
}

body {
  box-sizing: border-box;
  margin: 0;
}

main { 
  width: 100%;
  height: 100vh;  
  background-color: hsl(189,100%,41%);  
  padding-top: 3rem; 
}

header, footer {
  background-color: hsl(189,100%,16%);
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: hsl(50,99%,82%);
}

.container {
  max-width: 23rem;
  margin: 0 auto;
  text-align: center;
}

.container-player {
  display: grid; 
  grid-template-rows: 26rem; 
  box-shadow: 0px 0px 8px hsl(189,100%,16%); 
}

/*---------- Player ----------*/
#player-area {
  background-color: hsl(180,100%,25%);
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;    
}

#audio-animation {
  width: 100%;  
}

#audio-animation.is-playing img { 
  animation-direction: alternate;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: trackPlaying;
}

@keyframes trackPlaying {
  0% {
    opacity: .25;
  }
  50% {
    opacity: .50;
  }
  75% {
    opacity: .75;
  } 
  100% {
    opacity: 1;
  } 
}

.visual {
  width: 100%;
}

.progress-track {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  width: 100%;  
}
/* Styling the progress bar */

progress {
  border-radius: 1rem; 
  width: 70%;
  height: .5rem; 
}

progress::-webkit-progress-bar {
  background-color: hsl(189,100%,16%); 
}
progress::-webkit-progress-value {
  background-color:hsl(50,99%,82%);
}
progress::-moz-progress-bar {

}
/* End Progress Bar */

#controls {
  display: flex;
  justify-content: space-between;
}

button {
  border: 0rem;
  border-radius: .5rem;
  background-color: hsl(50,99%,82%);
  padding: 0.1rem .5rem; 
}

button:hover, button:focus{
  background-color: hsl(50,99%,32%) ;
}

/*---------- Playlist ----------*/

#playlist-area {
  background-color: hsl(189,100%,16%);
}

.thumbnail {
  width: 100%;
  max-width: 3.5rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 1rem; 
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.track-active {
  background-color: hsl(189,100%,41%);
  width: 100%;
  display:flex;
  justify-content: start;
  gap:1rem;
  color: hsl(50,99%,82%);
}

li {
  display:flex;
  justify-content: start;
  gap:1rem;
  color: hsl(50,99%,82%);  
}

li.active{
  background-color: hsl(189,100%,41%);
}

.title {
  font-style: italic;
}

/*---------- Large Screen ----------*/

@media only screen and (max-height:27em) { 

  .container-player {     
    font-size: .85rem;
    display: grid;
    grid-template-rows: 22rem;    
    grid-template-columns: 1fr 1fr;
    max-width: 36rem;
  }

  button {   
    padding: 0.1rem .2rem;    
  }  

}

@media only screen and (min-width:60em) {

  html {
    font-size: 1.2rem;
  }
  .container-player {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 45rem;
  }

}

